@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.HeaderMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(211,17,112) , rgb(78,14,77));
}

.NavClass{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-bottom: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.NavLogoClass{
    font-family: "Lobster", sans-serif;
    display: flex;
    font-size: 20px;
    color: white;
    flex-direction: row;
    width: 50%;
}

.NavBarClass{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: end;
}

.NavButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 57%;
}
.NavButtons button{
    background: none;
    color:white;
    font-size: 16px;
    font-weight: 400;
    border: 0 solid;
    border-bottom: 10px solid;
    border-color: rgba(240, 248, 255, 0);
    font-family: "Gothic A1", sans-serif;
    transition: 0.4s all;
}

.NavButtons button:hover{
    cursor: pointer;
    transition: 0.4s all;
    border-bottom: 1px solid;
    border-color: rgb(252,10,126);
}

.HeaderContent{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.HeaderTextClass{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.HeaderTextClass h1{
    font-size: 85px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 700;
    color: white;
}

.HeaderTextClass h3{
    margin-top: -15px;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
    color: white;
}

.HeaderTextClass button{
    border: none;
    background-color: rgb(252,10,126);
    width: 160px;
    height: 80px;
    color: white;
    font-family: "Gothic A1", sans-serif;
    font-weight: 600;
    font-size: 20px;
    transition: 0.6s all;
}

.HeaderTextClass button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.6s all;
}

.HeaderLogoClass{
    width: 40%;
}


.HeaderLogoClass img{
    width: 130%;
}